{#
    {%- from 'calendar_calculated.jinja' import is_xmas -%}    
#}

{%- macro is_xmas() -%}
    {%- set now = now() -%}
    {%- set nowYday = now.timetuple().tm_yday -%}
    {%- set year = now.year -%}
    {%- set holyEve = strptime(year|string + '-12-24', '%Y-%m-%d') -%}
    {%- set deadSundayYday = holyEve.timetuple().tm_yday - holyEve.isoweekday() - 28 -%}
    {%- set holyKingsYday = strptime((year+1)|string + '-01-06', '%Y-%m-%d').timetuple().tm_yday -%}
    {%- set isXmas = (nowYday > deadSundayYday) or (nowYday <= holyKingsYday ) -%}
    {{- isXmas -}}
{%- endmacro -%}

