{%- macro open_windows(format='') -%}
  {%- set entities = expand(label_entities('Haus')) | selectattr('attributes.device_class', 'eq', 'window') | selectattr('state', 'eq', 'on') %}
  {%- if (format == 'list') -%}
    {{ entities | map(attribute='name') | list | join(', ') }}
  {%- elif (format == 'text') -%}
    {%- set open_entities = entities | map(attribute='name') | list -%} 
    {%- if open_entities | length > 1 -%}
      {{- open_entities[:-1] | join(', ') }} und {{ open_entities[-1] -}}
    {% elif open_entities | length == 1 -%}
      {{ open_entities[0] }}
    {%- else -%}
      Keine offenen Fenster
    {%- endif -%}
  {%- elif (format == 'markdownlist') -%}
    {%- set open_entities = entities | map(attribute='name') | list -%} 
    {%- if open_entities | length > 0 -%}
      {{ '  - ' ~ open_entities | map('string') | join('\n  - ') }}
    {%- endif -%}
  {%- else -%}
    {{ entities | map(attribute='entity_id') | list | join(',') }}
  {%- endif -%}
{%- endmacro -%}

{%- macro open_doors(format='') -%}
  {%- set entities = expand(label_entities('Haus')) | selectattr('attributes.device_class', 'eq', 'door') | selectattr('state', 'eq', 'on') %}
  {%- if (format == 'list') -%}
    {{ entities | map(attribute='name') | list | join(', ') }}
  {%- elif (format == 'text') -%}
    {%- set open_entities = entities | map(attribute='name') | list -%} 
    {%- if open_entities | length > 1 -%}
      {{- open_entities[:-1] | join(', ') }} und {{ open_entities[-1] -}}
    {% elif open_entities | length == 1 -%}
      {{ open_entities[0] }}
    {%- else -%}
      Keine offenen Türen
    {%- endif -%}
  {%- elif (format == 'markdownlist') -%}
    {%- set open_entities = entities | map(attribute='name') | list -%} 
    {%- if open_entities | length > 0 -%}
      {{ '  - ' ~ open_entities | map('string') | join('\n  - ') }}
    {%- endif -%}
  {%- else -%}
    {{ entities | map(attribute='entity_id') | list | join(',') }}
  {%- endif -%}
{%- endmacro -%}

{%- macro open_group_entites(entity_id, format='') -%}
  {%- set entities = expand(state_attr(entity_id,'entity_id')) | selectattr('state', 'eq', 'on') %}
  {%- if (format == 'list') -%}
    {{ entities | map(attribute='name') | list | join(', ') }}
  {%- elif (format == 'text') -%}
    {%- set open_entities = entities | map(attribute='name') | list -%} 
    {%- if open_entities | length > 1 -%}
      {{- open_entities[:-1] | join(', ') }} und {{ open_entities[-1] -}}
    {% elif open_entities | length == 1 -%}
      {{ open_entities[0] }}
    {%- else -%}
      Keine offenen Türen
    {%- endif -%}
  {%- elif (format == 'markdownlist') -%}
    {%- set open_entities = entities | map(attribute='name') | list -%} 
    {%- if open_entities | length > 0 -%}
      {{ '  - ' ~ open_entities | map('string') | join('\n  - ') }}
    {%- endif -%}
  {%- else -%}
    {{ entities | map(attribute='entity_id') | list | join(',') }}
  {%- endif -%}
{%- endmacro -%}


{%- macro report_open(format='list') -%}
{{ entities(format) }}
{{ entities(format) }}
{%- endmacro -%}

